<security-constraint>
    <web-resource-collection>
        <web-resource-name>RetroBowl</web-resource-name>
        <description>No direct access to RetroBowl</description>
        <url-pattern>/retrobowl/</url-pattern>
        <http-method>POST</http-method>
        <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
        <description>No direct browser access to RetroBowl</description>
        <role-name>NobodyHasThisRole</role-name>
    </auth-constraint>
</security-constraint>
